<!-- assessment.component.html -->
<div class="assessment-container">
  <h2 class="assessment-title">Assessment</h2>
  <form
    class="assessment-form"
    (ngSubmit)="submitAssessment()"
    [formGroup]="assessmentForm"
  >
    <div formGroupName="question1">
      <p class="question-text">Question 1: What is the capital of France?</p>
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="paris" />
        Paris</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="berlin" />
        Berlin</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="london" />
        London</label
      >
    </div>
    <div formGroupName="question2">
      <p class="question-text">Question 2: What is 2 + 2?</p>
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="3" /> 3</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="4" /> 4</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="5" /> 5</label
      >
    </div>
    <!-- Question 3 -->
    <div formGroupName="question3">
      <p class="question-text">Question 3: What is the capital of Germany?</p>
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="paris" />
        Paris</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="berlin" />
        Berlin</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="london" />
        London</label
      >
    </div>
    <!-- Question 4 -->
    <div formGroupName="question4">
      <p class="question-text">Question 4: What is 3 + 3?</p>
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="5" /> 5</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="6" /> 6</label
      >
      <label class="answer-option"
        ><input type="radio" formControlName="answer" value="7" /> 7</label
      >
    </div>
    <form
      class="assessment-form"
      (ngSubmit)="submitAssessment()"
      [formGroup]="assessmentForm"
    >
      <!-- Form elements -->
      <button class="submit-button" type="submit">Submit</button>
    </form>
  </form>
</div>
